MCMV_ICON ICON "mcmv.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", ""
      VALUE "FileDescription", "MCMV Bone Mapping Tool"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "mcmv"
      VALUE "LegalCopyright", "MIT"
      VALUE "OriginalFilename", "mcmv_core.exe"
      VALUE "ProductName", "MCMV"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END